= render partial: 'google_charts/annotated_time', locals: { graphite_request: @graphite_request,
  title: @original_target, title2: @original_target2, width: 800, height: 500 }
= render partial: 'graphite/custom_form'
